$primary: #ce9134;
$secondary: #95a5a6;
$fill: #95a5a6;
$gradient1: #866225;
$gradient2: #d7911d;
$colorGold: #ce9133;
$grayblue: #f8fafb;
$graycolor: #e3e3e3;

.bodyform {
  margin-top: 40px;
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  .rowform {
    position: relative;
    border-bottom: 1px solid $graycolor;
    padding-top: 25px;
    padding-bottom: 25px;
    p {
      padding-top: 8px;
    }

    input,
    button {
      border-radius: 25px;
      border: 2px solid $secondary;
      background: $grayblue;
      line-height: 30px;
    }

    .radio1 {
      padding-top: 10px;
      input[type='radio'] {
        position: absolute;
        opacity: 0;
        + .radio-label {
          &:before {
            top: -0.8em !important;
          }
        }
      }
    }

    .radio {
      font-weight: bold;
      padding-top: 5px;
      line-height: 31px;
      padding-bottom: 5px;
      input[type='radio'] {
        position: absolute;
        opacity: 0;
        + .radio-label {
          &:before {
            content: '';

            border-radius: 100%;
            border: 3px solid $secondary;
            display: inline-block;
            width: 35px;
            height: 35px;
            position: relative;
            top: 0;
            margin-right: 0em;
            vertical-align: top;
            cursor: pointer;
            text-align: center;
            transition: all 250ms ease;
            font-size: 20px;
            margin-left: 10px;
          }
        }
        &:checked {
          + .radio-label {
            &:before {
              content: '\2713';
              color: #fff;
              line-height: 40px;
              background-color: $primary;
              font-weight: bold;
              border: 0px;
            }
          }
        }
      }
    }

    .break-out {
      background: $grayblue;
      border-radius: 50px;
      padding: 20px;
      position: relative;
      p {
        float: right;
        line-height: 15px;
        margin-left: 10px;
      }

      &:after {
        position: absolute;
        content: '';
        top: -5px;
        left: 54%;
        height: 0px;
        width: 0px;
        border: none;
        border-bottom: 5px solid $fill;
        border-left: 5px solid rgba(0, 0, 0, 0);
        border-right: 5px solid rgba(0, 0, 0, 0);
      }
    }

    input, select {
      padding: 5px;
      width: 60px;
      background: white;
      border-radius: 5px;
      border: 2px solid $fill;
      font-weight: bold;
      font-size: 16px;
      text-align: center;
    }

    .tall {
      padding-top: 40px;
      label {
        line-height: 31px;
        margin-left: 10px;
      }
      input {
        margin-top: 0px;
        margin-left: 2px;
      }
    }
  }

  .btnNext {
    border-radius: 50px;
    line-height: 40px;
  }
}

.ArrowLEFT {
  color: #cad5d6;
  cursor: pointer;
  font-size: 32px;
  margin-top: 35px;
}
.saveInfo {
  display: block;
  width: 70%;
}



@media screen and (max-width: 992px) {
  .bodyform{
    p{padding-top:0px !important; line-height: 33px !important; }

  }
  .saveInfo {width: 100%;}


}

@media screen and (min-width: 414px) and (max-width:736px) {
  .bodyform{margin-top: 30px;
    .break-out{
      p{margin-top: 0px;}
    }
    p{margin-top: 0px;}
  }

}


@media screen and (min-width: 993px) and (max-width:1024px) {
  .bodyform{margin-top: 0px;

    p{margin-top: 0px;}
  }

}


@media screen and (min-width: 415px) and (max-width:768px) {
  .bodyform{    margin-top: 20px;}

}
