$lightBlue:#f5f8f9;
$lightGold:#f8f3f1;

$darkBlue:#8a99a0;
$darkGold:#906c21;

$secondary: #95a5a6;
$primary: #ce9134;



$colorGold:#d2932b;





$darkSea:#001314;
$dark2Gold:#5e3900;


$fill:#95a5a6;
$gradient1:#866225;
$gradient2:#d7911d;

$grayblue:#f8fafb;

$bgh:linear-gradient(30deg, rgba(154,110,35,1) 0%, rgba(214,144,29,1) 46%, rgba(154,110,35,1) 100%);
$bgh01:linear-gradient(146deg, rgba(248,243,241,1) 0%, rgba(245,248,249,1) 100%);


// body{background: #fff !important;}
