<app-breadcrumb currentPage="من نحن"></app-breadcrumb>
<ng-container *ngIf="aboutUs$ | async as aboutUs">
  <div class="container">
    <div class="about">
      <div class="row">
        <div class="col-sm-8">
          <p>{{ aboutUs?.title }}</p>
          <span>
            {{ aboutUs?.description }}
          </span>
        </div>

        <div class="col-sm-4">
          <img [src]="aboutUs?.aboutUsMediaUrl" class="aboutUsMedia" />
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="mt-5">
      <div class="row">
        <div class="col-sm-4" *ngFor="let aboutUsItem of aboutUs?.aboutUsItems">
          <div class="b1">
            <!-- <i class="fas fa-eye"></i> -->
            <img [src]="aboutUsItem?.iconUrl"  class="icon-media"/>
            <p>{{ aboutUsItem?.title }}</p>
            <span>
              {{ aboutUsItem?.description }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="mt-5">
      <div class="row">
        <div class="about mt-0">
          <p class="mb-4">قيمنا</p>
        </div>
        <div class="col-sm-4">
          <img [src]="aboutUs?.ourPrincipleMediaUrl" class="aboutUsMedia" />
        </div>

        <div class="col-sm-8">
          <div class="row">
            <div
              class="col-sm-6 mb-4"
              *ngFor="let principle of aboutUs?.ourPrinciples"
            >
              <div class="b1 b2">
                <p>{{ principle?.title }}</p>
                <span>
                  {{ principle?.description }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
