.freew{

  textarea{
    padding: 0;
    background: white;
    border-radius: 5px;
    border: 2px solid #95a5a6;
    font-weight: bold;
    font-size: 16px;
    text-align: right;
    padding: 10px;
  }

  label{font-size: 18px; font-weight: bold;}

  button{color: white; font-size: 18px; font-weight: bold;}

}




.bodyform{margin-top: 40px; background: #fff; border-radius: 5px;padding: 20px;




  .btnNext{border-radius: 50px; line-height: 40px;}
  .saveInfo{display: block; width: 70%;}
}
.ArrowLEFT {
  color: #cad5d6;
  cursor: pointer;
  font-size: 32px;
  margin-top: 35px;
}
