#order-sec {
  min-height: 480px;
  padding: 20px 0;
  margin: 20px 0;
  .order-card {
    margin: 0 5px;
    min-height: 580px;
    padding: 15px;
    background-color: #f8f3f1;
    border-radius: 8px;
    h2 {
      font-size: 16px;
      color: #cc8b1e;
      img {
        padding-left: 7px;
      }
    }
    &:hover {
      background-color: #f5f8f9;
    }
  }
  .more-btn {
    padding: 15px 0;
    text-align: center;
    button {
      color: #fff;
      background-color: #cc8b1e;
      border: none;
      font-size: 16px;
      border-radius: 5px;
      padding: 5px 10px;
    }
  }
  p {
    font-weight: 600;
    span {
      // font-weight: 400;
      font-size: 14px;
      // font-weight: bold;
    }
  }
  .row {
    display: flex;
    flex-direction: row;
  }
}
.card-title {
  display: flex;
  justify-content: space-between;
}
.pagination li a {
  border: none;
}
@media only screen and (max-width: 800px) {
  #order-sec {
    .row {
      display: flex;
      flex-direction: column;
    }
  }
  .order-card {
    // width: 90vw;
    min-height: max-content;
  }
}
@media only screen and (max-width: 500px) {
  .requests {
    display: block !important;
  }
}
.requests {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}
