<div class="container">
  <form [formGroup]="form" class="bodyform" [connectForm]="order.order$ | async ">



    <div class="row"  style="border-bottom: 1px solid #e3e3e3; padding-bottom: 25px">
      <div class="col-sm-6 col-md-12 col-12">

        <mat-form-field >
          <mat-label>الجنسية المرابد الإرتباط بها</mat-label>
          <input matInput
                 aria-label="State"
                 [matAutocomplete]="auto"
                 [formControl]="stateCtrl">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let country of filteredStates | async" [value]="country.name"
                        (onSelectionChange)="onChange($event)">
              <span class="flag-icon mx-1" [class]="'flag-icon-'+country.code.toLocaleLowerCase()"></span>
              <span>{{country.name}}</span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="mx-5">
          <mat-label> الإمارة</mat-label>
          <mat-select formControlName="emirate">
            <mat-option *ngFor="let emirate of refs.emirates" [value]="emirate">{{ emirate }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="mx-5">
          <mat-label> العمر من</mat-label>
          <mat-select formControlName="ageFrom">
            <mat-option *ngFor="let age of refs.ages" [value]="age">{{ age }}</mat-option>
          </mat-select>
          <span matSuffix>سنة</span>
        </mat-form-field>

        <mat-form-field>
          <mat-label> الي</mat-label>
          <mat-select formControlName="ageTo">
            <mat-option *ngFor="let age of refs.ages" [value]="age">{{ age }}</mat-option>
          </mat-select>
          <span matSuffix>سنة</span>
        </mat-form-field>
      </div>

    </div>

    <div class="row">
      <div class="col-sm-12 col-12">
        <div class="rowform">
          <div class="row">
            <div class="col-6 col-sm-6 col-md-2"><p class="fw-bold">الطول</p></div>
            <div class="col-md-10">
              <mat-form-field>
                <mat-label> من</mat-label>
                <mat-select formControlName="tallFrom">
                  <mat-option *ngFor="let height of refs.heights" [value]="height">{{ height }}</mat-option>
                </mat-select>
                <span matSuffix>سم</span>
              </mat-form-field>

              <mat-form-field class="mx-5">
                <mat-label> الي</mat-label>
                <mat-select formControlName="tallTo">
                  <mat-option *ngFor="let height of refs.heights" [value]="height">{{ height }}</mat-option>
                </mat-select>
                <span matSuffix>سم</span>
              </mat-form-field>
            </div>

          </div>
        </div>
      </div>
    </div>


    <div class="rowform">
      <div class="row">
        <div class="col-sm-3 col-12 col-md-2 col-lg-2">
          <p class="fw-bold">الحالة الإجتماعية</p>
        </div>
        <div class="col-sm-9 col-12 col-md-10 col-lg-10">
          <form>
            <div class="row">
              <ng-container *ngFor="let status of refs.SocialStatus.status('أنثى')">
                <div
                  class="col-sm-4 col-6 col-md-2 col-lg-2"
                  *ngIf="true"
                >
                  <div class="radio">
                    <input
                      [id]="status"
                      name="socialStatus"
                      type="radio"
                      [value]="status"
                      formControlName="socialStatus"
                    />
                    <label [for]="status" class="radio-label">{{ status }} </label>
                  </div>
                </div>
              </ng-container>

              <div class="col-sm-12 col-12" *ngIf="refs.SocialStatus.acceptChildren(socialStatus.value)">
                <div class="break-out">
                  <div class="row">

                    <div class="col-sm-3 col-md-4 col-lg-4 col-12">
                      <div class="break-outNUM">
                        <p></p>
                        <mat-slide-toggle color="primary" formControlName="hasChildren">هل ترغب بالشريك الذي لديه
                          اطفال؟
                        </mat-slide-toggle>

                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-12 col-12">
        <div class="rowform">
          <div class="row">
            <div class="row">
              <div class="col-sm-2"><p class="fw-bold">لون البشرة</p></div>
              <div class="col-sm-10">
                <form>
                  <div class="row">
                    <div class="col-sm-2 col-6" *ngFor="let skin of [1,2,3,4,5,6]">
                      <div class="radio">
                        <input
                          [id]="skin + 'skin'"
                          type="radio"
                          name="skinColor"
                          [value]="skin"
                          formControlName="skinColor"
                        />
                        <label [for]="skin + 'skin'" class="radio-label">{{ skin }}</label>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-12 col-12">
        <div class="rowform">
          <div class="row">
            <div class="col-sm-2"><p class="fw-bold">اللبس العام</p></div>
            <div class="col-sm-10">
              <form>
                <div class="row">
                  <div class="col-sm-2 col-6" *ngFor="let dress of refs.generalDress">
                    <div class="radio">
                      <input
                        [id]="dress + 'dress'"
                        name="generalDress"
                        [value]="dress"
                        type="radio"
                        formControlName="generalDress"
                      />
                      <label [for]="dress + 'dress'" class="radio-label">{{ dress }}</label>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-12">
        <div class="rowform">
          <div class="row">
            <div class="col-sm-2"><p class="fw-bold">الوضع الصحي</p></div>
            <div class="col-sm-10">
              <form>
                <div class="row">
                  <div class="col-sm-2 col-6" *ngFor="let health of refs.health">
                    <div class="radio">
                      <input
                        [id]="health + 'health'"
                        name="health"
                        [value]="health"
                        type="radio"
                        formControlName="health"
                      />
                      <label [for]="health + 'health'" class="radio-label">{{ health }}</label>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="rowform">
      <div class="row">
        <div class="col-sm-3 col-12 col-md-2 col-lg-2"><p class="fw-bold">التدخين</p></div>
        <div class="col-sm-9 col-12 col-md-10 col-lg-10">
          <div class="row">
            <div class="col-sm-6 col-6 col-md-3 col-lg-3">
              <div class="radio">
                <input
                  id="true"
                  name="smocking"
                  [value]="true"
                  type="radio"
                  formControlName="smocking"
                />
                <label  for="true" class="radio-label"> نعم </label>
              </div>
            </div>

            <div class="col-sm-6 col-6 col-md-3 col-lg-3">
              <div class="radio">
                <input
                  id="false"
                  name="smocking"
                  [value]="false"
                  type="radio"
                  formControlName="smocking"
                />
                <label for="false" class="radio-label"> لا </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-12">
        <div class="rowform">
          <div class="row">
            <div class="col-sm-2"><p class="fw-bold">النشاط الرياضي</p></div>
            <div class="col-sm-10">
              <form>
                <div class="row">
                  <div class="col-sm-2 col-6" *ngFor="let sport of refs.sportActivities">
                    <div class="radio">
                      <input
                        [id]="sport + 'sport'"
                        name="sportActivity"
                        [value]="sport"
                        type="radio"
                        formControlName="sportActivity"
                      />
                      <label [for]="sport + 'sport'" class="radio-label">{{ sport }}</label>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-12">
        <div class="rowform">
          <div class="row">
            <div class="col-sm-2"><p class="fw-bold">الطابع العائلي</p></div>
            <div class="col-sm-10">
              <form>
                <div class="row">
                  <div class="col-sm-2 col-6" *ngFor="let family of refs.familyCharacter">
                    <div class="radio">
                      <input
                        [id]="family"
                        name="familyCharacter"
                        [value]="family"
                        type="radio"
                        formControlName="familyCharacter"
                      />
                      <label [for]="family" class="radio-label">{{ family }}</label>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-12 col-12">
        <div class="rowform">
          <div class="row">
            <div class="col-sm-2"><p class="fw-bold">نوع الزواج المطلوب</p></div>
            <div class="col-sm-10">
              <form>
                <div class="row">
                  <div class="col-sm-2 col-6" *ngFor="let marriage of refs.marriageType">
                    <div class="radio">
                      <input
                        [id]="marriage"
                        name="marriageType"
                        [value]="marriage"
                        type="radio"
                        formControlName="marriageType"
                      />
                      <label [for]="marriage" class="radio-label">{{ marriage }}</label>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-12 col-12">
        <div class="rowform">
          <div class="row">
            <div class="col-sm-2"><p class="fw-bold">مستوى الحالة المادية</p></div>
            <div class="col-sm-10">
              <form>
                <div class="row">
                  <div class="col-sm-2 col-6" *ngFor="let rich of refs.rich">
                    <div class="radio">
                      <input
                        [id]="rich + 'rich'"
                        [value]="rich"
                        name="rich"
                        formControlName="rich"
                        type="radio"
                      />
                      <label [for]="rich + 'rich'" class="radio-label">{{ rich }}</label>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-12 col-12">
        <div class="rowform">
          <div class="row">
            <div class="col-sm-2"><p class="fw-bold">رغبة العمل في الشريك</p></div>
            <div class="col-sm-10">
              <form>
                <div class="row">
                  <div class="col-sm-2 col-6" *ngFor="let allowJob of refs.allowJob">
                    <div class="radio">
                      <input
                        [id]="allowJob + 'allowJob'"
                        name="job"
                        [value]="allowJob"
                        type="radio"
                        formControlName="job"
                      />
                      <label [for]="allowJob + 'allowJob'" class="radio-label">{{
                        allowJob
                        }}</label>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="bodyform mt-4 mb-4 bg-transparent">
      <div class="col-sm-12 col-12">
        <div class="row">
          <button
            type="submit"
            (click)="onSubmit()"
            class="btn btn-primary btnLog btnNext btnWidth mx-auto fs-6 text-white fw-bold mt-4 mb-4"
            [disabled]="order.loading$ | async"
          >
            <i class="fa fa-sync fa-spin" *ngIf="order.loading$ | async "></i>
            حفظ التعديل
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
